.parallax{
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;

    h1{
        font-size: 100px;
    }

    .mountains{
        background-image: url("../../../public/mountains.png");
        width: 100%;
        height: 100%;
        background-size: cover;
        position: absolute;
        background-position: bottom;
        overflow: hidden;
        z-index: 99;
    }

    .planets{
        background-image: url("../../../public/planets.png");
        width: 100%;
        height: 100%;
        background-size: cover;
        position: absolute;
        background-position: bottom;
        overflow: hidden;
        z-index: 98;
    }

    .starts{
        background-image: url("../../../public/stars.png");
        width: 100%;
        height: 100%;
        background-size: cover;
        position: absolute;
        background-position: bottom;
        overflow: hidden;
    }
}

// Large Laptop Screen Responsive Code
@media only screen and (max-width: 1550px) {
    .parallax{
        h1{
            font-size: 70px;
        }
    }
}

// Mobile Responsive Code
@media only screen and (max-width: 600px) {
    .parallax{
        width: 100%;
        height: 100vh;
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        overflow: hidden;
    
        h1{
            font-size: 50px;
        }
    
        .mountains{
            width: 100%;
            height: 100%;
            background-size: cover;
            position: absolute;
            background-position: bottom;
            background-repeat: no-repeat;
            overflow: hidden;
            z-index: 99;
        }
    
        .planets{
            width: 150%;
            height: 100%;
            background-size: contain;
            position: absolute;
            background-position: bottom;
            background-repeat: no-repeat;
            overflow: hidden;
            top: -300px;
            z-index: 98;
        }
    
        .starts{
            width: 100%;
            height: 100%;
            background-size: cover;
            position: absolute;
            background-position: bottom;
            background-repeat: no-repeat;
            overflow: hidden;
        }
    }
}