.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    z-index: 10;


    .wrapper {
        width: 1366px;
        height: 100%;
        margin: auto;


        .textContainer {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            width: 51%;

            h2 {
                color: rebeccapurple;
                font-size: 40px;
                letter-spacing: 10px;
            }

            h1 {
                font-size: 70px;
                // width: 50%;
            }

            .buttons {

                a {
                    padding: 15px 10px;
                    border: 1px solid white;
                    background-color: transparent;
                    border-radius: 10px;
                    color: white;
                    margin-right: 20px;
                    font-weight: 300;
                }

                // button{
                //     padding: 15px 10px;
                //     border: 1px solid white;
                //     background-color: transparent;
                //     border-radius: 10px;
                //     color: white;
                //     margin-right: 20px;
                //     font-weight: 300;


                // }
            }


            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .slidingtextcontaier {
        position: absolute;
        font-size: 50vh;
        bottom: 0;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
        z-index: -1;
    }

    .imageContainer {
        top: 0;
        right: 0;
        position: absolute;
    }
}



// Laptop Responsive Code
@media only screen and (max-width: 1367px) {
    .hero {


        .wrapper {
            width: 1065px;
            height: 100%;
            margin: auto;
        }

        .textContainer {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            width: 51%;

            h2 {
                color: rebeccapurple;
                font-size: 40px;
                letter-spacing: 10px;
            }

            h1 {
                font-size: 50px !important;
                // width: 50%;
            }

            .buttons {

                a {
                    padding: 15px 10px;
                    border: 1px solid white;
                    background-color: transparent;
                    border-radius: 10px;
                    color: white;
                    margin-right: 20px;
                    font-weight: 300;
                }

                // button{
                //     padding: 15px 10px;
                //     border: 1px solid white;
                //     background-color: transparent;
                //     border-radius: 10px;
                //     color: white;
                //     margin-right: 20px;
                //     font-weight: 300;


                // }
            }


            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .slidingtextcontaier {
        position: absolute;
        font-size: 50vh;
        bottom: 0;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
        z-index: -1;
    }

    .imageContainer {
        top: 0;
        width: 50%;
        right: 0;
        position: absolute;


        img{
            width: 100%;
        }
    }

}



// Mobile Responsive Code
@media only screen and (max-width: 600px) {
    .hero {
        height: calc(100% - 100px);
        width: 100%;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .wrapper {



            .textContainer {
                padding-bottom: 185px;
                width: 29%;
                overflow-x: hidden;
                gap: 25px;

                h2 {
                    font-size: 20px;
                }

                h1 {
                    font-size: 27px;
                }

                .buttons {



                    a {
                        font-size: 10px;
                    }
                }
            }
        }


        .slidingtextcontaier {
            font-size: 150px;
            width: 50%;
            padding-bottom: 100px;
        }

        .imageContainer {
            right: 0;
            bottom: 0;
            position: relative;
            width: 100%;

            img {
                width: 300px;
                height: 300px;
                position: absolute;
                bottom: 0;
                right: 15px;
            }
        }
    }
}