.portfolio{
    position: relative;


    



    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 40px;
        text-align: center;
        color: orange;
        font-size: 36px;



        

        .progressbar{
            height: 10px;
            background-color: white;
        }
    }


    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .wrapper{
            max-width: 1366px;
            display: flex;
            height: 100%;
            margin: auto;
            align-items: center;
            gap: 50px;
            // padding-top: 150px;


            .imgcontainer{
                flex: 1;
                height: 50%;

                
                
                
                
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }
    
            .textcontainer{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 30px;

                h2{
                    font-size: 72px;
                }

                p{
                    color: gray;
                    font-size: 20px;
                }

                button{
                    background-color: orange;
                    color: black;
                    border: none;
                    border-radius: 10px;
                    width: 200px;
                    padding: 10px;
                    cursor: pointer;


                    a{
                        font-size: 16px;
                    }
                }


            }

        }

        
    }
}