.navbar {
    height: 100px;
    // background-color: green;

    .wrapper {
        width: 1366px;
        height: 100%;
        // background-color: yellow;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;


        span {
            font-weight: bold;
            font-size: 30px;
            color: white;
            cursor: pointer;
        }

        .socials {
            display: flex;
            gap: 20px;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }

}

// Laptop responsive code
@media only screen and (max-width: 1366px) {
    .navbar {

        .wrapper {
            width: 100%;
            height: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 150px;
        }
    }
}


//Mobile responsive code
@media only screen and (max-width: 600px) {
    .navbar {
        height: 100px;

        .wrapper {
            width: 100%;
            height: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 0px;
            text-align: right;


            span{
                font-size: 25px;
                width: 100%;
                padding-right: 20px;
            }

            .socials{
                display: none;
            }
        }
    }
}